<h1>HighFive#view</h1>

<% @insta.each do |thumbnail, insta_prof|%>
	<a href="<%= insta_prof %>" target="_blank"><img src="<%= thumbnail %>" ></a>
<br>
<% end %>
<br>

<% @yelper.each do |stuff| %>
	<% if stuff.to_s.match(/(yelp.com)/)%>
			<% @url = stuff %>
	<% elsif stuff.to_s.match(/(jpg)$/) %>
		<a href="<%= @url%>" target="_blank"><img src="<%= stuff %>"><br></a>
	<% elsif stuff.to_s.match(/(png)$/) %>
		<img src="<%= stuff %>"><br></a>
	<% else %>
		<%= stuff %><br>
	<% end %>
<% end %>
