<center>	
	<h1>HighFive! from <%= @lat_long.address %> </h1>

	<h3> <%= flash[:success].html_safe unless flash[:success].blank? %> </h3>

	<%= form_tag("/high_five/lat_lng") do %>
		<%= label_tag('zip', "Zipcode") %>
		<%= text_field_tag('zip') %>
		</br>
		<input type="radio" name="number" value="5" checked="checked">5<br>
		<input type="radio" name="number" value="10">10<br>
		<input type="radio" name="number" value="20">20<br>

		<%= submit_tag "Submit"%>

		<% x = [] %>
		<% Zipcode.all.each {|e| x << e.zipcode} %>
		<% x.uniq! %>
		<button style="background-color:red" name="zip" type="submit" value="<%=x.sample%>">Random Zipcode</button>

	<% end %>
</center>

<ul class="tabs">
  <li data-sec='insta'><img src="http://www.boosharticles.com/wp-content/uploads/2015/06/instagram-logo-vector-image.png" height="40" width="60"></li>
  <li data-sec='yelp'><img src="http://www.pizzaboccalupo.com/images/YelpIcon.png" height="50" width="50"></li>
  <li data-sec='twitter'><img src="http://vectorlogos.org/files/images/twitter-square-icon-2010.png" height="50" width="50"></li>
    <li class="bg"></li>
</ul>


<div class="view">
	<div class="insta hidden">

		<% @insta.each do |thumbnail, insta_prof|%>
			<a href="<%= insta_prof %>" target="_blank"><img src="<%= thumbnail %>" ></a>
		<br>
		<% end %>
	
	</div>

	<div class="yelp hidden">

		<h3>Restaurants</h3>
		<% @restaurant_yelper.each do |stuff| %>
			<% if stuff.to_s.match(/(yelp.com)/)%>
					<% @url = stuff %>
			<% elsif stuff.to_s.match(/(jpg)$/) %>
				<a href="<%= @url%>" target="_blank"><img src="<%= stuff %>"><br></a>
			<% elsif stuff.to_s.match(/(png)$/) %>
				<img src="<%= stuff %>"><br></a>
			<% else %>
				<%= stuff %><br>
			<% end %>
		<% end %>
		<h3>Bars</h3>
		<% @bar_yelper.each do |stuff| %>
			<% if stuff.to_s.match(/(yelp.com)/)%>
					<% @url = stuff %>
			<% elsif stuff.to_s.match(/(jpg)$/) %>
				<a href="<%= @url%>" target="_blank"><img src="<%= stuff %>"><br></a>
			<% elsif stuff.to_s.match(/(png)$/) %>
				<img src="<%= stuff %>"><br></a>
			<% else %>
				<%= stuff %><br>
			<% end %>
		<% end %>

	</div>

	<div class="twitter hidden">

		<% @twitter.each do |tweet| %>
			<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Have a High Five <a href="https://t.co/ce0TFlAcy5">https://t.co/ce0TFlAcy5</a></p>&mdash;  <a href="https://twitter.com/codeschool/status/<%=tweet.id%>">October 2, 2015</a></blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<%end%>

	</div>
</div>

<script>
$('.tabs li').click(function(){
    var c = $(this).attr('data-sec');
    $('.view .' + c).removeClass('hidden').siblings().addClass('hidden');
});
</script>