<br>
<center>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<h1>
  <p> <span>HI</span><span>FIVE!</span><p>
</h1>
<h3> <span>FLATIRON SCHOOL</span> </h3>
	<h3> <%= flash[:success].html_safe unless flash[:success].blank? %> </h3>
	<%= form_tag("/high_five/results")  do %>
		
		<br>
		<br>
		<%= label_tag('zip', "Enter Zipcode") %>
		<%= text_field_tag('zip') %>
		<p>
			Show:
			<input type="radio" name="number" value="5" checked="checked">5
			<input type="radio" name="number" value="10">10
			<input type="radio" name="number" value="20">20
		</p>
		<%= submit_tag "SUMBIT" %>
		<% x = [] %>
		<% Zipcode.all.each {|e| x << e.zipcode} %>
		<% x.uniq! %>
		<button class='butt'name="zip" type="submit" value="<%=x.sample%>"><h5>RANDOM ZIPCODE</h5></button>
	<% end %>
</center>


<center> <div id="korean">하이 파이브</div></center>