<h1>HighFive</h1>

<h3> <%= flash[:success].html_safe unless flash[:success].blank? %> </h3>

<%= form_tag("/high_five/lat_lng") do %>
	<%= label_tag('zip', "Zipcode") %>
	<%= text_field_tag('zip') %>
	</br>
	<input type="radio" name="number" value="5" checked="checked">5<br>
	<input type="radio" name="number" value="10">10<br>
	<input type="radio" name="number" value="20">20<br>

	<%= submit_tag "Submit"%>
<% end %>